/* Cores */
:root {
    --gold: #D4AF37;
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #F8F8F8;
    --wine: #800020;
}

/* Estilo Global */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    background-color: var(--light-gray);
    color: var(--black);
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2em;
}

.home {
    background-image: url('img/joias-banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: var(--white);
}

.home h1 {
    font-size: 3em;
    color: rgba(184, 114, 2, 0.485);
}

.home button {
    padding: 15px 30px;
    background-color: var(--wine);
    color: var(--white);
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s;
}

.home button:hover {
    background-color: var(--gold);
}

.produtos h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
font-size: 3em;
}

.produtos p{
    text-align: center;

}



.product-card {
    background-color: var(--white);
    width: 300px;
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 50px;
}

.product-card button {
    width: 100%;
    padding: 15px;
    background-color: var(--gold);
    color: var(--black);
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.product-card button:hover {
    background-color: var(--wine);
    color: var(--white);
}

footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    text-align: center;
}

footer a {
    color: var(--gold);
    text-decoration: none;
}

.about h2 {
text-align: center;
font-size: 3em;
color: #d4af37;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;

}

.about p{
text-align: center;
font-size: 1em;
font-style: normal;
font-weight: normal;
color: #000000;
font-family: 'Times New Roman', Times, serif;
}